[project]
	description = Orienteering Event fetcher
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/loenne
[access "refs/for/refs/*"]
	read = group user/loenne
	push = group user/loenne
	label-Code-Review = -2..+2 group user/loenne
	label-Verified = -1..+1 group user/loenne
	rebase = group user/loenne
	removeReviewer = group user/loenne
	submit = group user/loenne
[access "refs/heads/*"]
	read = group user/loenne
	create = group user/loenne
	push = +force group user/loenne
	pushMerge = group user/loenne
[access "refs/tags/*"]
	push = +force group user/loenne
	pushTag = group user/loenne
	pushSignedTag = group user/loenne
