<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="work.Android"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="9" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application 
      android:icon="@drawable/icon" 
      android:label="@string/app_name"
      android:debuggable="true"
      android:screenOrientation="portrait">
        <uses-library android:name="com.google.android.maps" />
        <activity
            android:name=".AndroB"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="klubbanmalning"></activity>
        <activity android:name="loparanmalningar"></activity>
        <activity android:name="tavlingar"></activity>
        <activity android:name="selecttavling"></activity>
        <activity android:name="selectklubb"></activity>
        <activity android:name="tavlingsinfo"></activity>
        <activity android:name="maphandler"></activity>
        <activity android:name="configApp"></activity>
    </application>
</manifest>